/* @theme patristar */
@import "default";

section {
  /* A4 document size */
  height: 210mm;
  width: 297mm;
  background: #FFF;
  font-size: 24;
  
}
section.title h1 {
  color: white;
  font-family: "Arial", "Hiragino Kaku Gothic ProN";
  font-size: 60px;
  text-align: top;
}

section.title {
  color: white;
  font-family: "Arial", "Hiragino Maru Gothic ProN";
  font-size: 36px;
  text-align: center;
  padding: 40px;
}

section.slides h1 {
  text-align: top;
  background: linear-gradient( to left,  rgba(69,179,224,1) 25%, rgb(97, 109, 218) 75% );
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Arial", "Hiragino Kaku Gothic ProN";
  font-size: 48px;
  position: absolute;
  left: 50px; top: 50px;
}

section.slides h2 {
  font-size: 32px;
  color: #4ac;
  position: absolute;
  left: 50px; top: 90px;
}